/* Reset and Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between; /* separates logo from icons */
  align-items: center;
  padding: 0 3rem; /* left & right padding */
  height: 80px;
  background-color: black;
}

/* Logo section */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1ED760;
}

.nav-logo-symbol {
  font-size: 1.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.nav-logo-symbol:hover {
  color: #980a0a;
  transform: scale(1.05);
}

.nav-logo-text {
  font-size: 1.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.nav-logo-text:hover {
  color: #980a0a;
  transform: scale(1.05);
}

/* Navigation links */
.nav-icons {
  display: flex;
  gap: 2rem;
  font-weight: 700;
}

.icons {
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.icons:hover {
  color: #980a0a;
  transform: scale(1.05);
}
